/* html {
  background-image: url(/img/SeekPng.com_building-png_133022.png);
  background-position: center;
  image-rendering: optimizeSpeed;
  background-repeat: space;
} */
* {
  /* transition: all 0.1s ease; */
  border: 1px solid red;
}

.playArea {
  width: 500px;
  height: 700px;
  position: absolute;
  border: 1px solid black;
}

.sky {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: skyblue;
}

.ground {
  width: 500px;
  height: 200px;
  position: absolute;
  background-color: green;
  /* background-image: url(/img/SeekPng.com_building-png_133022.png); */
  top: 500px;
}

.bird {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: yellow;
  /* border-radius: 50%; */
}

.pole {
  background-color: grey;
  width: 60px;
  height: 300px;
  position: absolute;
}

button {
  cursor: pointer;
}
